server:
  baseURL: "/sshfs"
  port: 80
  database: /home/filebrowser/database.db
  sources:
    - path: "/srv/salt"
      name: "salt"
      config:
        denyByDefault: false
        private: false
        disabled: false
        indexingIntervalMinutes: 0
        disableIndexing: false
        conditionals:
          hidden: false
          ignoreHidden: false
          ignoreZeroSizeFolders: false
          rules:
        defaultUserScope: "/"
        defaultEnabled: true
        createUserDir: false
${MIGRATOR_SOURCE_BLOCK}
  logging:
    # Terminal
    - output: stdout
      levels: "info|warning|error"
      apiLevels: disabled
    # API logs
    - output: "api-events.log"
      levels: disabled
    # Errors
    - output: "errors.log"
      levels: "error|warning"
      apiLevels: disabled
auth:
  methods:
    password:
      enabled: false
    oidc:
      enabled: true
      clientId: "${KEYCLOAK_CLIENT}"
      clientSecret: "${OIDC_CLIENT_SECRET}"
      issuerUrl: "https://${WEB_SERVER_OUTER_SOCKET}${KEYCLOAK_BASE_URL}/realms/${KEYCLOAK_REALM}"
      scopes: "email openid profile groups"
      userIdentifier: "preferred_username"
      createUser: true
      groupsClaim: "groups"
      adminGroup: "/filebrowser-admins"
      disableVerifyTLS: true
userDefaults:
  editorQuickSave: true
  hideSidebarFileActions: false
  disableQuickToggles: false
  disableSearchOptions: false
  darkMode: false
  locale: "en"
  showHidden: true
  quickDownload: true
  loginMethod: "oidc"
  preview:
    disableHideSidebar: false
    highQuality: true
    image: true
    video: true
    motionVideoPreview: true
    popup: true
    autoplayMedia: true
    defaultMediaPlayer: false
    folder: true
  permissions:
    api: false
    admin: false
    modify: false
    share: false
    realtime: true
    delete: false
    create: false
    download: true
frontend:
  name: "Salt.Box"
  description: "Salt.Box SSHFS manager"
  # favicon: "/path/to/favicon.jpg"  #NOTE: maybe worth adding
  externalLinks:
    - text: "Documentation"
      title: "View documentation"      # Hover tooltip
      url: "https://saltbox.pro/docs/next/intro"
