listeners.tcp.default = 5672
num_acceptors.tcp = 16
distribution.listener.interface = 0.0.0.0
distribution.listener.port_range.min = 25672
distribution.listener.port_range.max = 25672
handshake_timeout = 15000 # ms
vm_memory_high_watermark.relative = 0.4
vm_memory_calculation_strategy = rss
disk_free_limit.absolute = 1GB
log.file.level = ${LOG_LEVEL}
channel_max = 2047
max_message_size = 16777216 # bytes
heartbeat = 30
default_vhost = /
default_user_tags.administrator = true
default_permissions.configure = .*
default_permissions.read = .*
default_permissions.write = .*
collect_statistics = none
management.db_cache_multiplier = 5
delegate_count = 32
tcp_listen_options.backlog = 256
tcp_listen_options.nodelay = true
tcp_listen_options.linger.on = true
tcp_listen_options.linger.timeout = 0
tcp_listen_options.exit_on_close = false
tcp_listen_options.keepalive = false
cluster_keepalive_interval = 10000
queue_index_embed_msgs_below = 1024
mnesia_table_loading_retry_timeout = 30000
mnesia_table_loading_retry_limit = 10
queue_leader_locator = client-local
definitions.import_backend = local_filesystem
definitions.local.path = /etc/rabbitmq/definitions.d/

# TODO: backlog
deprecated_features.permit.management_metrics_collection = true
deprecated_features.permit.transient_nonexcl_queues = true
