[submodule "fastms-core"]
	path = fastms-core
	url = git@gitlab.com:fastms/fastms-core.git
	branch = master
[submodule "fastms-frontend"]
	path = fastms-frontend
	url = git@gitlab.com:fastms/fastms-frontend.git
	branch = master
