# shellcheck disable=SC2034

################################################################################
## File is a part of Salt.Box project.
##
## Move to .env before editing.
##
## BUILD TIME comment means changing the value requireds rebuilding of some
## images.
##
## Env-file supports variable expansion like VAR2='${VAR1}/something', therefore
## it is not recommended since may cause inconsistent values when some exanded
## variables overrided.
##
################################################################################

################################################################################
## General settings
################################################################################

COMPOSE_PROJECT_NAME=saltbox

## Additional gorups of services.
## Exclude salt-master profile if rely on an external salt-master.
COMPOSE_PROFILES=salt-master

## Docker registry options to fetch images.
IMAGE_REGISTRY='registry.saltbox.pro/saltbox'

## Tags of Salt.Box images.
## Usually should all point the same minor version (first two digits of version
## string).
CORE_AUTOTESTS_TAG='v0.0.1'
CORE_IMAGE_TAG='v0.0.1'
FRONTEND_IMAGE_TAG='v0.0.1'
KEYCLOAK_IMAGE_TAG='v0.0.2'
MAKE_CERTS_IMAGE_TAG='master'
NGINX_IMAGE_TAG='v0.0.2'
OPA_IMAGE_TAG='v0.0.2'
REDIS_IMAGE_TAG='v0.0.2'
SALT_MASTER_IMAGE_TAG='v0.0.1'
SSHFS_IMAGE_TAG='v0.0.2'

## Docker Compose graceful shutdown period
STOP_GRACE_PERIOD=5s

################################################################################
## Reverse proxy settings
################################################################################

## This section definces on which URL the system should be available, e.g.
## http://locahost:80 by default.

## Port to server interface for enduser
WEB_SERVER_PORT=80
# [ HOST | HOST:PORT ], PORT may differ when outer reverse proxy is used.
WEB_SERVER_OUTER_SOCKET='localhost'
## 'http' allowed only for localhost, 'https' for encrypted HTTP
WEB_SERVER_SCHEME='http'
## [ ws | wss ], the last for encrypted websockets.
WEB_SERVER_WS_SCHEME='ws'

################################################################################
## Keycloak SSO settings
################################################################################

KEYCLOAK_BASE_URL='/auth/keycloak'  # Use compose-keycloak-buid.yaml override to apply
KEYCLOAK_DATABASE='keycloak'
KEYCLOAK_DATABASE_USER='keycloak-db'
KEYCLOAK_REALM='salt.box'
KEYCLOAK_CLIENT='saltbox_core'

## KEYCLOAK_{ADMIN,USER}_* variables has been DEPRECATED

## Default salt.box user. Will be created with the $KEYCLOAK_REALM on first run.
SALTBOX_USER_USERNAME='user'  # No user if empty
## If following variables is empty, form will need to be filled on first logon.
SALTBOX_USER_EMAIL='user@example.com'
SALTBOX_USER_FIRSTNAME='Ioann'
SALTBOX_USER_LASTNAME='Ivanov'

## Default salt.box admin user. Will be created with the $KEYCLOAK_REALM on first run.
SALTBOX_ADMIN_USERNAME='master'  # No admin user if empty
## If following variables is empty, form will need to be filled on first logon.
SALTBOX_ADMIN_EMAIL='master@example.com'
SALTBOX_ADMIN_FIRSTNAME='Petr'
SALTBOX_ADMIN_LASTNAME='Petrov'

################################################################################
## Backend (Core) settings
################################################################################

# On which host backend answers
BACKEND_HTTP_PORT=8000
BACKEND_PATH='/api/core'

# For more verbose log set to 'debug'
BACKEND_LOG_LEVEL='info'

## Graceful shutdown timeout for Uvicorn
BACKEND_SHUTDOWN_TIMEOUT_SEC=5

REDIS_SALT_USERNAME=redis
REDIS_TASKIQ_USERNAME=redis
## Set to '6379' or '0.0.0.0:6379' to expose on all interfaces
REDIS_SALT_EXPOSE_SOCKET='127.0.0.1:6379'

SHOW_DOCS=True
SALT_FUNC_REPO_URL='https://dev.saltbox.pro/saltbox/salt-func-schemas.git'

################################################################################
## Frontend settings
################################################################################

FRONTEND_HTTP_PORT=80

################################################################################
## SaltStack settings
################################################################################

SALT_MASTER_STORAGE_PATH='./_salt-master-storage/'
SALT_MASTER_LOG_LEVEL='warning'
SALT_MINION_LOG_LEVEL='warning'

################################################################################
## MongoDB settings
################################################################################

MONGO_DB='salt_box'
MONGO_USER='root'
## Set to '27017' or '0.0.0.0:27017' to expose on all interfaces
MONGO_EXPOSE_SOCKET='127.0.0.1:27017'

################################################################################
## SSHFS settings
################################################################################

## SSH username as in ssfs._users.json
SSHFS_USER=saltbox
## Where to keep files of clients like backups.
SSHFS_STORAGE_PATH='./_sshfs-storage/'
## [ PORT | IP_ADDRESS | IP_ADDRESS:PORT ] Socket to bind SSH daemon.
SSHFS_EXPOSE_SOCKET='1022'

################################################################################
## Dev options
################################################################################

## Default compose file with no dev options.
COMPOSE_FILE=compose.yaml

## Uncomment to be able to run autotests.
#COMPOSE_FILE="${COMPOSE_FILE}:compose-autotests.yaml"
## Uncomment for saltbox-core, redis-salt watch and rebuild, mongo port epxpose.
#COMPOSE_FILE="${COMPOSE_FILE}:compose-backend-dev.yaml"
## Uncomment to enable frontend rebuild from sources.
#COMPOSE_FILE="${COMPOSE_FILE}:compose-frontend-dev.yaml"
## Uncomment to build Keycloak images locally
#COMPOSE_FILE="${COMPOSE_FILE}:compose-keycloak-build.yaml"
## Uncomment to rebuild SaltStack rebuild, dev settings and dev minions.
#COMPOSE_FILE="${COMPOSE_FILE}:compose-salt-dev.yaml"

SALT_MOC_MINION_REPLICAS=4
SALT_MOC_MINION_LOG_LEVEL='warning'
SALT_MOC_MINION_RETRY_DNS=10
CORE_BUILD_DIR='../saltbox-core/'
FRONTEND_BUILD_DIR='../saltbox-frontend/'
SALT_BUILD_DIR='../saltbox-bridge/'
