HostKey /etc/openssh-keys/ssh_host_rsa_key
HostKey /etc/openssh-keys/ssh_host_ecdsa_key
HostKey /etc/openssh-keys/ssh_host_ed25519_key

AuthorizedKeysFile /dev/null
AuthorizedKeysCommand /usr/local/bin/authorized-keys-cmd
AuthorizedKeysCommandUser root

PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication yes
PermitEmptyPasswords no

LogLevel VERBOSE
MaxAuthTries 6
MaxSessions 10
UsePAM no
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PermitTTY no
PrintMotd no
TCPKeepAlive yes
Compression delayed
ClientAliveInterval 0
PermitTunnel no
ChrootDirectory none
Banner none
Subsystem sftp internal-sftp

AllowGroups wheel users
