server:
  baseURL: "/sshfs"
  port: 80
  database: /home/filebrowser/database.db
  sources:
    - path: /srv/sshfs
      config:
        defaultEnabled: true
    - path: /srv/salt
      config:
        defaultEnabled: true
    - path: /srv/saltbox_salt
      config:
        defaultEnabled: true
    - path: /srv/salt_local
      config:
        defaultEnabled: true
    - path: /srv/salt_master_local
      config:
        defaultEnabled: true
auth:
  methods:
    password:
      enabled: false
    oidc:
      enabled: true
      clientId: "${KEYCLOAK_CLIENT}"
      clientSecret: "${OIDC_CLIENT_SECRET}"
      issuerUrl: "https://${WEB_SERVER_OUTER_SOCKET}${KEYCLOAK_BASE_URL}/realms/${KEYCLOAK_REALM}"
      scopes: "email openid profile groups"
      userIdentifier: "preferred_username"
      createUser: true
      groupsClaim: "groups"
      adminGroup: "filebrowser-admins"
      disableVerifyTLS: true
userDefaults:
  editorQuickSave: true
  hideSidebarFileActions: false
  disableQuickToggles: false
  disableSearchOptions: false
  darkMode: false
  locale: "en"
  showHidden: true
  quickDownload: true
  loginMethod: "oidc"
  preview:
    disableHideSidebar: false
    highQuality: true
    image: true
    video: true
    motionVideoPreview: true
    popup: true
    autoplayMedia: true
    defaultMediaPlayer: false
    folder: true
  permissions:
    api: false
    admin: true
    modify: true
    share: true
    realtime: true
    delete: true
    create: true
    download: true
