map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

server {
    listen 443 ssl default_server;
    http2 on;

    ssl_certificate /etc/nginx/ssl/proxy.crt;
    ssl_certificate_key /etc/nginx/ssl/proxy.key;

    location / {
        proxy_pass http://saltbox-frontend-root-config;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /api {
        proxy_pass 'http://saltbox-gateway:${GATEWAY_HTTP_PORT}/api';
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
    }

    location /static {
        proxy_pass 'http://saltbox-gateway:${GATEWAY_HTTP_PORT}/static';
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
    }

    location /static/base {
        proxy_pass http://saltbox-frontend-base;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        rewrite '^/static/base/(.*)$' '/$1' break;
    }

    location /static/gateway {
        proxy_pass http://saltbox-frontend-gateway;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        rewrite '^/static/gateway/(.*)$' '/$1' break;
    }

    location '${KEYCLOAK_BASE_URL}/' {
        proxy_buffers 8 256k;
        proxy_buffer_size 128k;
        proxy_busy_buffers_size 256k;
        proxy_pass 'http://keycloak:8080';
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Host $host;
    }

    # location /oauth2/ {
    #     proxy_pass      "http://oauth2-proxy:4180";
    #     proxy_set_header Host                    $host;
    #     proxy_set_header X-Real-IP               $remote_addr;
    #     proxy_set_header X-Auth-Request-Redirect $request_uri;
    # }
    #
    # location = /oauth2/auth {
    #     proxy_pass      "http://oauth2-proxy:4180";
    #     proxy_set_header Host            $host;
    #     proxy_set_header X-Real-IP       $remote_addr;
    #     proxy_set_header X-Forwarded-Uri $request_uri;
    #     proxy_set_header Content-Length  "";
    #     proxy_pass_request_body          off;
    # }

    location '${SSHFS_MANAGER_BASE_URL}/' {
        # auth_request /oauth2/auth;
        # error_page 401 =403 /oauth2/sign_in;

        auth_request_set $user   $upstream_http_x_auth_request_user;
        auth_request_set $email  $upstream_http_x_auth_request_email;
        proxy_set_header X-User              $user;
        proxy_set_header X-Email             $email;

        proxy_set_header X-Forwarded-Prefix '${SSHFS_MANAGER_BASE_URL}';
        auth_request_set $auth_cookie_name_upstream_1 $upstream_cookie_auth_cookie_name_1;
        proxy_pass http://sshfs_manager:80;
    }

    include /etc/nginx/includes/*.conf;
}

server {
    listen 80 default_server;
    return 301 https://$host$request_uri;
}

# vi: syn=nginx
